@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: var(--font-bungee);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

.leaflet-top {
  top: 4rem;
}

/* Leaflet scale styling */
.leaflet-control-scale {
  font-size: 20px;
  font-weight: 700;
}

.leaflet-control-scale-line {
  background: rgba(255,255,255,0.95);
  border: 9px solid #111;
  padding: 8px 12px;
  border-radius: 9px;
}

/* Black & white ONLY for terrain basemap */
.bw-tiles {
  filter: grayscale(100%) contrast(115%) brightness(95%);
}
