@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: var(--font-bungee);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

.leaflet-top {
  top: 4rem;
}

/* Leaflet scale styling */
.leaflet-control-scale {
  font-size: 20px;
  font-weight: 700;
}

.leaflet-control-scale-line {
  background: rgba(255,255,255,0.95);
  border: 9px solid #111;
  padding: 8px 12px;
  border-radius: 9px;
}

/* Black & white ONLY for terrain basemap */
.bw-tiles {
  filter: grayscale(100%) contrast(115%) brightness(95%);
}



/* Reset the Leaflet top-right container */
.leaflet-top.leaflet-right {
  top: 0 !important;
  bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
}

/* Keep scale control at top-right */
.leaflet-control-scale {
  margin-top: 10px;
  pointer-events: auto;
}

/* Move ONLY zoom control to middle-right */
.leaflet-control-zoom {
  position: absolute !important;
  top: 50% !important;
  right: 14px !important;
  transform: translateY(-50%) !important;
  pointer-events: auto;
}

.leaflet-control-zoom a {
  background: #F2EFEA;
  color: #111;
  border-radius: 8px;
}
